body {
    margin: 0;
    font-family: "Be Vietnam Pro",sans-serif;
    background-color: #000000;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

main {
    max-width: 1240px;
    padding: 40px;
    margin: auto;
} 

header {
    background-color: #000000;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0 10% 0 10%;
}

header div {
    margin: auto auto auto 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul, footer ul {
    display: flex;
}    

nav li, footer li {
    font-weight: 500;
    font-style: italic;
}

nav li {
    margin: auto 0 auto 40px;
}

.sito {
    margin: auto 0;
    font-weight: 700;
    font-size: 24px;
    font-family: "Chillax variable", sans-serif;
}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
    background-color: #000000;
    border-radius: 40px;
}

.stellario {
   text-align: center;
   margin: auto;
}

h9 {
    font-family: "Chillax variable", sans-serif;
    font-size: 128px;
    font-weight: 800;
}

.luna {
    width: 300px;
    border-radius:20px ;
}

.intro {
    border-color: white;
    border-style: solid;
    margin-top: 450px;
    max-width: 900px;
    padding: 60px;
}

.intro p {
    margin-left: 80px;
    max-width: 600px;
    font-size: 18px;
}

.introduzione {
    font-size: 22px;
    padding-bottom: 30px;
}

.astronauta {
    position: absolute;
    top: 800px;
    right: 0;
}

.per-macro {
    margin-top: 90px;
    padding-bottom: 60px;
}

.macroaree {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.macroaree div {
    background-color: #000000;
    border-radius: 16px;
    text-align: center;
    border: 1px solid #fff;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    padding: 32px 0;
}

.macroaree div img {
    margin: auto;
    max-height: 80px;
    padding: 15px;
}

.macroaree div a {
    margin: 20px 0 0 10px;
    text-align: center;
}

.vet-alto {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 1150px;
}

.macroa-univ, .macroa-fen, .macroa-astro {
    margin: 20px 0 auto 0;
    display: flex;
}

h1 {
    font-size: 90px;
    font-weight: 800;
    margin-bottom: 0;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 8px;
    max-width: 700px;
}

.macroa-univ img, .macroa-fen img {
    border-radius: 40px;
    border-style: solid;
    margin-left: 10%;
    width: 560px;
    max-height: 450px;
}

.testo-macroa-univ, .testo-macroa-fen, .testo-macroa-astro {
    margin: auto;
    max-width: 750px;
}

h5 {
    font-size: 28px;
}

.testo-macroa-univ h5 {
    margin-top: 300px;
}

.per-macro h5, .testo-macroa-fen h5, .testo-macroa-astro h5 {
    margin-top: 160px;
}

.testo-macroa-univ p, .testo-macroa-fen p, .testo-macroa-astro{
    font-size: 17px;
    font-weight: 300;
}

.testo-macroa-univ div, .testo-macroa-fen div, .testo-macroa-astro div {
    margin-top: 80px;
    margin-bottom: 100px;
}

.testo-macroa-univ a, .testo-macroa-astro a {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 5%;
    color:rgba(255, 255, 255, 0.54);
}

.testo-macroa-univ a:hover {
    transform: scale(1.5);
    color:rgb(255, 255, 255);
    font-weight: 600; 
}

.testo-macroa-astro a:hover {
    transform: scale(1.3);
    color:rgb(255, 255, 255);
    font-weight: 600; 
}

.link-fenomeni {
    margin: 50px auto;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}

.link-fenomeni div {
    background-color: #000000;
    border: 1px solid #fff;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-radius: 16px;
    padding: 30px 0;
    text-align: center;
}

.link-fenomeni img {
    max-height: 60px;
    margin: auto;
    padding: 15px;
}

.intro-pagine, .testo-pagine, .link-pagine {
    display: flex;
}

.intro-pagine {
    justify-content: space-between;
}

h4 {
    font-size: 30px;
    margin: auto auto auto 30px;
}

.vet-pagine {
    height: 50px;
    width: 50px;
    margin-right: 0;
    justify-content: end;
}

.foto-intro img {
    margin: auto;
    max-width: 950px;
    max-height: 548px;
    border-style: solid;
    border-radius: 50px;
}

.ellisse {
    max-height: 60px;
    margin-bottom: 0;
}

.line {
    background-color: white;
    width: 2px;
    height: 300px;
    margin: 0 auto auto auto;
}

.testo-pagine {
    gap: 10%;
    margin: 40px auto 40px auto;
    justify-content: center;
}

.testo-pagine p {
    margin: auto;
    max-width: 750px;
    padding-bottom: 20px;
}

.grid {
    column-count: 2;
    gap: 0px;
}

.grid div {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: -1px 0 0 0;
}

.grid img, .grid video {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

h7 {
    color: #d9d9d9a7;
    position: absolute;
    bottom: 10px;
    left: 16px;
    font-size: 15px;
    font-style: italic;
}

h8 {
    color: #d9d9d9a7;
    bottom: 10px;
    left: 16px;
    font-size: 15px;
    font-style: italic; 
    max-width: 80px;
    text-align: center; 
}

.testo-e-foto {
    max-width: 700px;
}

.testo-e-foto img {
    max-width: 500px;
}

.link-pagine {
    justify-content: space-between;
}

h6 {
    font-size: 20px;
    margin-bottom: 0;
}

.sinistra {
    text-align: right;
}

.linea-sinistra, .linea-destra {
    display: flex;
}

.linea-sinistra img, .linea-destra img {
    max-height: 20px;
    margin: 0;
}

.linea-o {
    background-color: white;
    width: 150px;
    height: 2px;
    margin: auto auto auto 0;
}

.segno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.segno img {
    margin: auto auto auto 0;
    width: 350px;
    height: 300px;
}

.solo-segno {
    display: flex;
    gap: 10px;
}

.solo-segno img {
    height: 20px;
    width: 20px;
    margin: auto auto auto 0;
}

.icone-segni a {
    color: white;
    text-align: center;
}

.icone-segni {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    max-width: 800px;
    margin: 90px auto auto auto;
    gap: 20px;
}

.icone-segni div {
    width: 50px;
    text-align: center;
    margin: 10px auto;
}

.icone-segni img {
    height: 35px;
    width: 35px;
    margin: 5px auto;
}

.chi_siamo {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px;
    text-align: center;
}

.chi_siamo img {
    border-radius: 150px;
}

footer {
    background-color: #000000;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    padding: 0 10% 0 10%;
    height: 200px;
}

footer div {
    margin: auto auto auto 0;
    font-size: 32px;
}

footer img {
    margin: auto;
}

footer li {
    margin: auto 0 auto auto;
}

@media (max-width:1300px) {
    h9 {
        font-size: 100px;
    }
    
    .astronauta {
        max-height: 600px;
    }
}

@media (max-width:1000px) {
    .sito {
        font-size: 18px;
    }
    
    nav li {
        font-size: 10px;
        margin-left: 22px;
    }
    
    h9, h1 {
        font-size: 80px;
    }

    .astronauta {
        top: 500px;
    }
    
    .intro p {
        margin-left: 30px;
        margin-right: 40px;
    }

    .stellario img {
        margin-left: 2px;
    }

    h2 {
        font-size: 18px;
    }

    .intro {
        margin-top: 60px;
        padding-left: 10px;
    }
    
    .intro p {
        text-shadow: 2px 2px 4px #000000;
        font-size: 15px;
    }
    
    .vet-alto, .vet-pagine {
        position: absolute;
        height: 35px;
        width: 35px;
        margin: 10px;
        right: 40px;
    }

    .macroa-univ, .macroa-fen, .macroa-astro {
        display: inline;
    }

    .macroa-univ img, .macroa-fen img, .macroa-astro img {
        margin: auto;
        width: 560px;
        max-height: 450px;
    }
    
    .foto-intro img {
        width: 400px;
        margin-top: 22px;
    }
    
    .testo-macroa-univ h5 {
        margin-top: 100px;
    }

    .grid {
        column-count: 1;
        gap: 0;
    }

    .grid video {
        max-width: 402px;
        margin: 0;
    }

    .segno {
        display: inline;
    }

    .segno img {
       margin: 30px auto auto auto;
    }

    .solo-segno img {
        margin: auto auto auto 0;
    }

    footer ul {
        display: inline;
        margin: auto;
        text-align: center;
    }

    footer li {
        margin: 15px;
    }
}

@media (max-width:700px) {
    .astronauta {
        max-height: 200px;
        top: 500px;
    }
    
    h9, h1 {
        font-size: 45px;
    }

    .intro {
        padding: 25px 50px 25px 25px;
    } 

    h5 {
        font-size: 18px;
        text-align: center;
    }

    .testo-macroa-univ p, .testo-macroa-fen p, .testo-macroa-astro{
        font-size: 15px;
    }

    .testo-e-foto img, .testo-e-foto video {
        width: 350px;
    }

    .segno p {
        font-size: 15px;
    }

    h7, h8 {
        font-size: 10px;
    }
}
